body {
    background: url("../img/background01.jpg") no-repeat fixed;
    background-size: cover;
}

.titulo {
    text-align: center;
    font-size: 80px;
    font-family: monospace;
    text-shadow: 5px 3px 3px rgb(252, 252, 252);
    color: #cbd445;
    margin-top: 100px;
    margin-bottom: 30px;
}

.container {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    background-color: #ffffffb6;
    padding: 25px;
    margin-top: 15px;
    font-size: 18px;
    border-radius: 15px;
    

}

.container p {
    text-align: center;
    margin-bottom: 15px;
    color: #16074a;
    font-size: 30px;
}

.textoBusca {
    width: 75%;
    padding: 10px 10px;
    color: #656172;
    font-size: 10px;
}

.buscar {
    width: 21.5%;
    min-height: 39px;
    color: #16074a;
    background-color: #edd9e5;
    font-size: 20px;
    vertical-align: middle;
    border-radius: 5px;
    border-color:#656172;
}

.buscar:hover {
    color: #cbd445;
}

.rodape{
    background-color: #ffffffb6;
    color: #16074a;
    text-align: center;
    font-size: 20px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 1%;
    padding-top: 1%;
}

.github {
    margin-top: 20px;
}

.github .perfil a,
.github .perfil ul {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

.github .perfil a img {
    max-width: 300px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.github .perfil ul {
    padding-top: 72px;
}

.github .perfil ul li {
    font-size: 26px;
}

.github .perfil ul li b {
    font-weight: bolder;
}

.github #userRepositorio {
    margin-top: 40px;
}

.github .repositorios {
    display: inline-block;
    width: 32%;
    text-transform: capitalize;
    text-align: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px;
}

.github .repositorios a {
    text-decoration: none;
    color: #16074a;
    ;
    font-size: 20px;
    display: block;
    padding: 5px 0;
}

.github .repositorios a:hover {
    background-color: #bddbf3;
}